.input-group {
    margin-top: 5px;
}

.app-input-text {
    width: 100%;
}

.col-md-6, .col-sm-12{
    padding-left: 0px !important;
}
@media screen and (min-width: 768px){
    .jumbotron {
        padding-top: 15px;
        padding-bottom: 10px;
    }
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: white;
    background-color: #000;
}