<div class="col-md-12" id="emissor">
    <h2>DADOS EMISSOR</h2>

    <p>Informe abaixo os dados de sua empresa.</p>

    <div class="input-group">
        <span class="input-group-addon"><strong>NOME</strong></span>
        <input autocomplete="on" class="form-control" value="" type="text" name="emissor_nome" id="emissor_nome" placeholder="Nome ou Razão Social" maxlength="50" required="">
    </div>
    <div class="input-group">
        <span class="input-group-addon"><strong>TELEFONE</strong></span>
        <input autocomplete="on" class="form-control" value="" type="text" name="emissor_telefone" id="emissor_telefone" placeholder="Telefone com DDD" maxlength="15" required="">
    </div>
    <div class="input-group">
        <span class="input-group-addon"><strong>E-MAIL</strong></span>
        <input autocomplete="on" class="form-control" value="" type="text" name="emissor_email" id="emissor_email" placeholder="Email" maxlength="80" required="">
    </div>
    <div class="input-group">
        <span class="input-group-addon"><strong>WEB SITE</strong></span>
        <input autocomplete="on" class="form-control" value="" type="text" name="emissor_website" id="emissor_website" placeholder="Web Site" maxlength="80" required="">
    </div>

    <p class="input-group"><a class="btn btn-default" href="#" role="button">Detalhes do Emissor &raquo;</a></p>
</div>